:root{
    --clr-button: var(--clr-200);
}

*
{
    transition: background-color 300ms ease;
}

body
{
    background: linear-gradient(var(--clr-300), var(--clr-200) 350px) ; 
}


.profile-activity,
.profile-stats{
    
    border-radius: 0.2em;
    padding:1rem;
    display:grid;
    /* flex-direction: column; */
    gap:0.8em;
    align-self: start;
}

.profile-stats
{
    gap: 1.4rem;
    padding:0;
}

.profile-activity{
    gap:2em;
    background-color: var(--clr-100);
    border-radius: 0.4rem;
}

.profile-activity > h2
{
    grid-column: 1 / -1;
}

.groups, .badges, .friends, .comments
{
    grid-row: auto / span 2;
}

.activity-card,
.social-card{
    width:100%;
    background: var(--clr-100);
    border-radius: 0.3rem;
    grid-column:auto / span 1;
    overflow:hidden;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem hsl(0 0% 0% / 0.35);
}

.activity-card{
    padding: 1rem;
    background-color: var(--clr-200);
}

.activity-card > * + *
{
    margin-top: 1rem;
}

.activity-card > ul > * + *
{
    margin-top: 1rem;
}

.social-card > h2, .social-card div
{
    padding: 1rem;
    font-size: 1rem;
}

.social-card div
{
    border-top: 1px solid black;
    transition: background-color 250ms ease;
}

.social-card div:hover
{
    background-color: var(--clr-300);
}

a
{
    text-decoration: none;
    color:inherit;
}

.social-card h2
{
    background: var(--clr-500);
}
