header
{
	position:absolute;
	text-align:center;
	z-index:10;
	top:0;
	left:0;
	bottom:0;

	
	font: 400 1em 'Roboto', sans-serif;
}

.navWrapper
{
	display:flex;
	width:100%;
	flex: 100;
	height:100%;		
}

.nav-toggle
{
	display:none;
}

.hero-nav {

	all: unset;
	grid-column: 3 / 4;
	display:flex;
	flex-direction: column;
	align-items:center;
	flex:1000;

	gap:4rem;
	padding: 3rem 1rem;
	justify-self: auto;
	
	background-color: var(--main-bg-colour);
}

.panelFlow
{
	position:relative;
}

.panel
{
	text-align: left;
	position: absolute;
	width: 24rem;
	background-color: hsl(0 0% 0% / 0.8);
	height:100%;
	transform-origin: left;
	transform: scale(0,1);
	z-index: -1;
	transition: transform 200ms ease, opacity 100ms ease;
	color:white;
	opacity: 0;

	padding:2rem;
}

.panelContent
{
	display:grid;
	grid-template-rows: auto  1fr auto;
	align-content: start;
}

.searchContent
{
	grid-template-rows: auto  1fr ;
}

.scrollContent
{
	display:flex;
	flex-direction: column;
	gap:3rem;
}

.searchContent .scrollContent
{
	gap:0.8rem;
}

.confirmButtons
{
	display:flex;
	gap:1rem;
	justify-content: end;
}


.variableSliders
{
	display:flex;
	gap:3rem;
	flex-direction: column;
	justify-content: center;
}


.panel button
{
	width:100%;
	border-radius: 1rem;
	text-align: left;
	padding: 1rem 3.5rem;
	font-size: 12px;
}

.confirmButtons button
{
	border-radius: 2rem;
	padding: 1rem 2rem;
	text-align: center;
	min-width: 1rem;
	flex-basis: content;
}

button[data-id='cancel']
{
	background-color: black;
	border: 1px solid white;
}

button[data-id='cancel']:hover
{
	background-color: var(--clr-light-secondary-400);
}

button[data-id='save']:hover
{
	background-color: var(--clr-light-secondary-400);
}

.panel>div
{
	opacity: 0;
	gap:2rem;
	height:100%;
	
	transition: opacity 100ms ease-in;
}

.panel.active
{	
	transform: scale(1,1);
	
	opacity: 1;
}

.panel.active>div
{	
	opacity:1;
	transition: opacity 400ms ease-in;
}

.environmentList
{
	display:flex;
	flex-direction: column;
	gap:1.5rem;
}

.hero-nav span i
{
	color:hsl(0 0% 100% / .5);
	transition: color 200ms ease, transform 200ms ease-out;
}

.hero-nav span:hover{
	cursor:pointer;
}

.hero-nav span:hover i {
	color:lightgray;
}

.hero-nav span.active i {
	
	color: var(--clr-light-secondary-400);
	transform: scale(1.35) translate(0rem, .2rem);
}


.button 
{
	display: inline-block;
	margin: 4px 2px;
	font-size: 14px;
	height: 1.6rem;
	width: 2rem;
	line-height: 2rem;
	text-align: center;
	color: white;
	cursor: pointer;
	user-select: none;
}

.searchGlass
{
}


.search 
{
	position: absolute;
	border:0;
	outline: 0;
	background-color: transparent;
	padding: 0;
	width: calc(100% - 4rem);
	height: 2rem;
	left: 3rem;
	z-index: 10;
	transition: width 400ms ease, opacity 200ms ease;
	bottom:0;
	font-size:1rem;
	margin:0.2rem;
}

.searchLeft
{
	position: unset;
	left:1rem;
	bottom:unset;
	top:unset;
}

.search::placeholder
{
	color: inherit;
	opacity: 0.6;
}

.hero-nav i.fa-xl
{
	line-height: inherit;
	vertical-align: 0;
}

.search-container
{
	position:relative;
	background-color: hsl(0 0% 85%);
	border-radius: 1rem;
	padding: 0 1rem;
}

.searchButton
{
	position:absolute;
	right:0;
	color:black;
}

.systemsRoot
{
	padding-top:2rem;
	border-left: 2px solid white;
	margin:0.5rem;
	padding-left:3rem;
}

.systemsRoot li
{
	margin: 1rem 0;
	position:relative;
}

.systemsRoot .hoverTarget
{
	margin: 1rem 0;
	position:relative;
	transition: color 200ms ease;
	cursor:pointer;
}

.systemsRoot .hoverTarget:hover
{
	color: hsl(199 100% 48%);
}

.systemsRoot>ul>li
{
	margin: 0 0 2rem 0;
}

.left-rem
{
	position: absolute;
	left:-1.5rem;
}

.fa
{
	line-height: unset;
}

.systemsRoot ul ul
{
	padding-left:1rem;
}