header{
	position:absolute;
	width:100%;
	text-align:center;
	background-color: var(--main-bg-colour);
	z-index:10;
	top:0;
	left:0;
	right:0;
}

.logo{
	position:relative;
	min-height:100px;
	/*width:237px;*/
	width: 24rem;
	margin: 0 auto;
	z-index:20;
	display:flex;
}

.logo a
{
	justify-self:center;
	align-self: center;
}
/*
.logo div{
	text-align:left;
	width:fit-content;
	position:absolute;
	right:0;
	top:1em;
	font-family:Impact;
	font-size:1.1em;
	color:white;
}*/



.logo object,
.logo img,
.logo svg {
	width: 100%;
	max-height:85px;
	max-width:200px;
	object-fit: contain;
	position: relative;
	left: 0rem;
	top: 10px;
	pointer-events: none;
}

.logo span
{
	display:inline-block;
}

.logo span p
{
	
	font: bold 1.7em 'Roboto', sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	color:var(--clr-400);
	width: 24rem;
}

.logo svg #text path
{
	stroke:var(--clr-400);
	fill:var(--clr-400);
}

.nav-toggle{
	display:none;
}

nav{
	position:absolute;
	text-align:left;
	top:100%;
	left:0;
	background: var(--main-bg-colour);
	width:100%;
	transform:scale(1,0);
	transform-origin:top;
	transition: transform 400ms ease-in-out;
}

nav ul{
	padding:0;
	list-style:none;	
	margin:1em 1em;
	display:flex;
	flex-direction: column;
	justify-items:end;
}

nav li a
{
	bottom:0;
}

nav li > a *
{
	vertical-align: bottom;
}

nav li > a * + *
{
	margin-left: 0.4rem;
}

nav a{
	font-size:1.2rem;
	font-family: 'Roboto', sans-serif;
	color:white;
	text-decoration:none;
	text-transform: uppercase;
	opacity:0;
	transition: opacity 150ms ease-in-out;
	transition: color 100ms ease-in-out;
}

nav a:hover,
nav a[data-state='active'] {
	/*color:hsla(0, 0%, 20%, 100%);*/
	font-weight: 500;
}

nav a::after{
	content: '';
	position:relative;
	display:block;
	width:100%;
	height:2px;	 
	transform-origin: left;
	transform: scale(0, 1);	
    background-color:hsl(0 50% 50%);
	opacity:0;   
    transition: opacity 150ms ease-in-out;
	transition: transform 350ms ;
}

nav a:hover::after,
nav a[data-state='active']::after{    
	transform-origin: left;
	transform: scale(1, 1);
	opacity:0.3;	
	transition: opacity 150ms ease-in-out;
	transition: transform 350ms ease-out;
}

.nav-toggle-label{
	position:absolute;
	top:0;
	left:0;
	margin-top:35px;
	margin-left:1em;

	height:30px;
	display:flex;
	align-items:center;
	cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
	display:block;
	background:white;
	height:2px;
	width:2em;
	border-radius:2px;
	position:relative;
	content: '';
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	position:absolute;
}

.nav-toggle-label span::before {
	bottom:7px;
}

.nav-toggle-label span::after {
	top: 7px;
}

.nav-toggle:checked ~ nav {
	transform: scale(1,1);
}
.nav-toggle:checked ~ nav a{
	opacity:1;	
	transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after,
.nav-toggle-label span {
	
	transition: background-color 200ms ease-in-out;
	transition: transform 200ms ease-in-out;
}

.nav-toggle:checked ~ .nav-toggle-label span::before {
	transform: translate(0, 7px) rotate(45deg);
}

.nav-toggle:checked ~ .nav-toggle-label span::after {
	transform: translate(0, -7px) rotate(-45deg);
}

.nav-toggle:checked ~ .nav-toggle-label span {
	
	background-color:hsl(0 0% 100% / 0);
}


.userIcon
{
	width:2.4rem;
	height:2.4rem;
	border-radius: 50%;
	background-color:red;
	border:0;
	object-fit: cover;
}

@media screen and (min-width: 992px){

	.nav-toggle-label{
		display:none;
	}

	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 1050px) 1fr;
		background-color: hsla(0, 0%, 0%,0%);
	}

	header.loginNav
	{
		grid-template-columns: 1fr;
	}

	header.loginNav .logo
	{
		grid-column: 1 / -1;
	}

	.logo{
		grid-column: 2 / span 1;
		min-height:100px;
		width:350px;
		text-align: left;
		padding:1rem;
	}

	.logo object,
	.logo img,
	.logo svg{
		width:100%;
		max-width:280px;
		top:0;
		left:0;
		position:relative;
	}

	.logo svg #text path
	{
		stroke:var(--fc-dark-400);
		fill:var(--fc-dark-400);
	}

	.logo div {
		font-size:2em;

	}

	nav {
		all: unset;
		grid-column: 3 / 4;
		display:flex;
		justify-content: flex-end;
		align-items:center;
	}

	nav a{
		opacity:1;
		position:relative;
	}

	nav ul {
		display:flex;
		
		flex-direction: row;
		justify-content:flex-end;
		align-items: flex-end;
	}

	nav li{
		padding:1em 0.5em;
		position:relative;
	}

	*:hover > .hover-list
	{
		display: block;
		opacity: 1;
		
		pointer-events:all;
	}

	.hover-list
	{
		transition: opacity 150ms ease;
		opacity: 0;
		position: absolute;
		background-color: var(--clr-500);
		top:calc(100% - 1rem);
		padding:0;
		margin:0;
		pointer-events: none;
		padding:0.4rem;		
		box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem hsl(0 0% 0% / 0.25);
		min-width:300px;
	}

	.align-right
	{
		right:1rem;
		
	}

	.hover-list ul, .hover-list li
	{
		margin:0;
		padding:0;
		gap:0;
	}

	.hover-list ul
	{
		flex-direction: column;
		align-items: start;
	}
}



.hover-list li
{
	transition: background-color 150ms ease;
	width:100%;
	text-align: left;
}

.hover-list li:hover
{
	background-color: var(--clr-600);
}

.hover-list a span
{
	display: inline-block;
	width:100%;
}

.button {
	display: inline-block;
	margin: 4px 2px;
	font-size: 14px;
	height: 2rem;
	width: 2rem;
	line-height: 2rem;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.searchGlass
{
	display:inline-block;
	rotate: -45deg;
	font-size: 2rem;
	color: white;
}


.search {
	position: absolute;
	border:0;
	border-bottom: 2px solid white;
	opacity:0;
	color: white;
	outline: 0;
	background-color: transparent;
	padding: 0;
	width: 0;
	height: 2rem;
	z-index: 10;
	transition: width 400ms ease, opacity 200ms ease;
	bottom:0;
	font-size:1rem;
}

nav i.fa-xl
{
	line-height: inherit;
	vertical-align: 0;
}

.search-container
{
	position:relative;

}

.search:focus {
	width: 363px; /* Bar width+1px */
	padding: 0 16px 0 0;
	opacity:1;
}

.expandRight {
	left: auto;
	right: 49px; /* Button width-1px */
}

.expandRight:focus {
	padding: 0 0 0 16px;
}